.challenge-text {
  transition: all 0.4s ease;
}

.low-contrast {
  color: var(--clr-text-low-contrast);
}

.high-contrast {
  color: var(--clr-text);
}

.challenge-input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.4rem;
}

.error-border-only {
  border: 2px solid var(--clr-error);
}

.error-message-hidden {
  display: none;
}

.error-message-visible {
  display: block;
  color: var(--clr-error);
  margin: 0.8rem;
  font-weight: 600;
}

.typography-bad {
  font-family: var(--font-dyslexia-unfriendly);
  text-align: justify;
  line-height: 1.2;
  letter-spacing: normal;
}

.typography-good {
  font-family: var(--font-reading);
  text-align: left;
  line-height: 1.7;
  letter-spacing: 0.05rem;
}

