footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--color-primary-dark);
    color: var(--background-light);
    padding: var(--spacing-lg) 0;
}

footer #footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-left: 5rem;
}

footer #year {
    gap: 1rem;
}

footer .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

footer .social-icons a {
    width: 3rem;
    height: 3rem;
    margin: var(--spacing-sm) 0;
}