:root {
    /* Cores (Paleta com alto contraste) */
    --color-primary-dark: #0A3D62; /* Contraste 10.3:1 com branco */
    --color-primary-light: #2A7AE2; /* Contraste 4.8:1 com branco */
    --color-text: #343A40;
    --color-text-low-contrast: #9ca3af; /* Reprovado */
    --color-error: #d90429;
    --color-success: #10B981; /* Nova cor de sucesso */
    --background-light: #f8f9fa;
    --background-section: #ffffff;
    --color-white: #ffffff;
    --color-border: #dee2e6;
    
    /* Tipografia */
    --font-interface: 'Inter', sans-serif; /* Para UI: botões, menus, títulos */
    --font-reading: 'Lexend', sans-serif; /* Para leitura de texto longo */
    --font-dyslexia-unfriendly: 'Times New Roman', serif;

    /* Espaçamento */
    --spacing-sm: 1.2rem;
    --spacing-md: 2.4rem;
    --spacing-lg: 4.8rem;
    --spacing-xl: 8rem;
}

body {
    /* Seleção de fontes */
    font-family: var(--font-interface);
    font-size: 1.6rem;
    line-height: 1.7; /* Espaçamento generoso entre linhas (WCAG para Cognitivo */
    text-align: left; /* Evita texto justificado, que cria "rios" e deifuclta a leitura */
    background-color: var(--background-light);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
}

/* Trava o scroll quando o menu mobile estiver aberto */
body.nav-open {
    overflow: hidden;
}

/* Quando o modo de leitura está ativo, parágrafos e listas usam Lexend */
body.reading-font-active p,
body.reading-font-active li {
    font-family: var(--font-reading);
}

/* Esta garante a visibilidade do botão VLibras fique na camada mais alta, 
    sobrescrevendo quaisquer estilos que o script do widget possa injetar */
.vw-access-button.active {
    position: fixed !important;
    right: 30px !important;
    bottom: 30px !important;
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
    transform: none !important;
    z-index: 99999 !important;
}


