.hamburger-btn {
    display: none; /* Escondido no desktop por padrão */
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    z-index: 1001; /* Garante que fique acima de outros elementos */
}

.hamburger-btn .line {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--color-primary-dark);
    margin: 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

/* Animação do Hambúrguer para "X" */
.nav-open .hamburger-btn .line:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
}
.nav-open .hamburger-btn .line:nth-child(2) {
    opacity: 0;
}
.nav-open .hamburger-btn .line:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
}

